@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 0);
    overflow: auto;
    
}
header{
    width: 100%;
    max-width: 2000px; 
    min-width: 600px;  
    height: 100vh;
    min-height: 300px; 
    max-height: 900px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url("../img/fundoNet2.jpg");
    background-attachment:scroll;
    background-position: center;
    background-size:cover;
    background-color: black;
}

/* NAVBAR */
.navbar{
    width: 100%;
    max-width: 2000px; 
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem 10rem;
    /* background-color: aqua; */
    flex-wrap: wrap;
}
.nav-container{
    gap: 20px;
    display: flex;
}
.logo{
    font-size: 40px;
    font-weight: 700;
    color: rgb(230, 1, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}
.login a{
    text-decoration: none;
    width: auto;
    height: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(230, 1, 1);
    border-radius: 3px;
    position: relative;
    top: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem; /* Tamanho da fonte relativo ao layout */
    padding: 8px 20px; /* Ajuste o espaçamento interno */
    margin-top: 8px;
}
.login a:hover{
    background-color: rgb(194, 2, 2);
    transition: 300ms;
}
.language select{
    width: 9.5rem;
    height: 2.3rem;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
}

/* ASSINATURA */
.cadastro{
    width: auto;
    height: auto;
    max-width: 1000px; 
    min-width: 600px;  
    max-height: 500px;
    min-height: 300px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
}
.title-main{
    color: white;
    text-align: center;
    line-height: 1.2;
}
.title{
    /* margin-left: 90px;
    margin-right: 90px; */
    font-size: 1.8rem;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    line-height: 65px;
}
.titles-menores{
    font-size: 100%;
    font-family: Verdana;
    line-height: 50px;
}
#titles-menores01{
    font-size: 121%;
}
.email{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.input{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.inputUser{
    width: 360px;
    height: 5px;
    background: none;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 17px;
    letter-spacing: 2px;
    padding: 20px;
    padding-top: 35px;
    background-color: rgba(17, 17, 17, 0.726);
    position: relative;
}
.labelInput{
    position: absolute;
    top: 19px;
    left: 20px;
    pointer-events: none;
    transition: .5s;
    font-size: 20px;
    color: rgb(185, 185, 185);
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 14px;
    color: rgb(185, 185, 185);
}
.vamosla{
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: rgb(204, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.vamosla:hover{
    background-color: rgb(185, 1, 1);
}
.vamosla span{
    font-size: 1.5rem;
}
.vamosla i{
    font-size: 1.3rem;
    margin-left: 7px;
}

/* .home-panel{
    width: 90vw;
    height: 22vh;
    color: white;
    background: radial-gradient(
    circle at top, 
    #801035 30%,
    #13255f 60%,
    #000513 85%,
    #000513 100%);
    position: absolute;
    top: 630px;
    left: 50%;
    transform: translate(-50%);
    font-size: 18px;
    font-family: Arial;
    z-index: 9999;
}

/* CONTEUDO DA PAGINA */
main{
    background-color: black;
    width: 100%;
    height: auto;
    min-width: 600px;  
    max-width: 2000px; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
    padding-bottom: 100px;
}
.conteudos{
    width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* ANUNCIO  */
.container-anuncio{
    height: auto;
    align-items: center;
    /* background-color: aqua; */
}
.anuncio{
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    justify-content: center;
}
.anuncio:hover{
    transform: scale(1.03);
}
.image{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 10%;
    text-align: center;
    
}
.saiba-mais{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(95deg, #3e2653, #151a3f);
    color: white;
    width: 90%;
    padding:15px 10px;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
}
.saiba-mais:hover{
    background: linear-gradient(91deg, #51326d, #151a3f);

}
.saiba-mais p{
    font-size: 1.3rem;
    font-family: sans-serif;
    margin-left: 20px;
}
.saiba-mais span{
    font-size: 1rem;
}
.btn{
    background-color: rgb(58, 58, 58);
    color: white;
    border-radius: calc(0.25rem - 0.0625rem);;
    padding: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    border: none;
    margin-right: 20px;
}
.btn:hover{
    background-color: rgb(48, 48, 48);
}



/* Em alta */
.card-wrapper{
    margin: 0px 45px 35px;
    overflow: hidden;
    /* background-color: aqua; */
    width: 100%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    /* background-color: #5372f0; */
    max-height: 900px;
    max-width: 100%;
    padding-top: 50px;
}

.card-list, .card-item{
    list-style: none;
    /* background-color: #51326d; */
}
.card-list .card-item .card-link{
    cursor: pointer;
    user-select: none;
    width: 96%;
    height: 16rem;
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #ffffff; */
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */
    transition: all 0.3s ease-in-out; 

}
.card-list .card-item .card-link:hover{
    transform: scale(1.06);
}
.card-link .card-image{
    margin-left: auto;
    margin-right: auto;
}
.card-list .card-link .card-image{
    width: 85%;
    height: 15rem;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 0.5rem;
}
.card-wrapper .swiper-slide-button{
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 3.5rem 0rem;
    border-radius: 10px;
}
.swiper-button-prev.disabled,
.swiper-button-next.disabled {
  opacity: 0; 
  pointer-events: none; 
  cursor: none;
  transition: 0.5s ease-in-out; 
}
.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px; 
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 18px;
}

@media screen  and (max-width: 768px){
    .card-wrapper{
        margin: 0 10px 25px;
    }
    .card-list .card-item .card-link{
        width: 90%;
    }
    
}
.options-alta{
    padding: 15px 0px;
    gap: 40px;
    margin-bottom: 10px;
}
#options{
    margin-right: 15px;
}
.options-alta select{
    width: 5.5rem;
    height: 2.3rem;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 1px solid white;
}
.card-wrapper h2{
    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 500;
}
#number{
    position: absolute;
    top: 76%;
    left:10%;
    transform: translate(-50%, -50%); 
    font-size: 5.8rem;
    font-weight: 700;
    color: black;
    font-family: sans-serif;
    -webkit-text-stroke: 2px white;
}
#number-dez{
    position: absolute;
    top: 76%;
    left:20%;
    transform: translate(-50%, -50%); 
    font-size: 5.8rem;
    font-weight: 700;
    color: black;
    font-family: sans-serif;
    -webkit-text-stroke: 2px white;
}
.card-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
}

#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 1;
}
.btn-modal{
    width: 100%;
    display: flex;
    justify-content: end;
}  
.close-modal{
    border: none;
    background: none;
    font-size: 1.7rem;
    cursor: pointer;
    color: white;
    padding: 1.2rem 1.2rem;

}
.modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    object-fit: cover;
    background-color: rgb(22, 22, 22);
    width: 672px;
    min-width: 672px;
    height: 625px;
    min-height: 625px;
    /* width: 35%;
    height: 65%; */
    font-family: sans-serif;
    border-radius: 0.5rem;
    padding: 1px;
    overflow: auto;
}
#fade, #modal{
    transition: .5s ease-in-out;
    opacity: 1;
    pointer-events: all;
}
#modal.hide, #fade.hide{
    opacity: 0;
    pointer-events: none;
}
.banner-modal1{
    width: 100%;
    height: 65%;
    background-image: linear-gradient(40deg, rgb(22, 22, 22) 24.16%, rgba(6, 10, 23, 0) 56.61%), linear-gradient(0deg, rgb(22, 22, 22) 3.91%, rgba(6, 10, 23, 0) 69.26%), url("../img/sintonia.jpg");
    background-attachment:scroll;
    background-position: center;
    background-size:cover;
    object-fit: cover;
    box-sizing: border-box;
    position: relative;
    border: 0.0625rem solid rgb(22, 22, 22);
    border-radius: 0.5rem;
}
.banner-modal2{
    width: 100%;
    height: 65%;
    background-image: linear-gradient(40deg, rgb(22, 22, 22) 24.16%, rgba(6, 10, 23, 0) 56.61%), linear-gradient(0deg, rgb(22, 22, 22) 3.91%, rgba(6, 10, 23, 0) 69.26%), url("../img/round6Banner.jpg");
    background-attachment:scroll;
    background-position: center;
    background-size:cover;
    object-fit: cover;
    box-sizing: border-box;
    position: relative;
    border: 0.0625rem solid rgb(22, 22, 22);
    border-radius: 0.5rem;
}
.banner-modal3{
    width: 100%;
    height: 65%;
    background-image: linear-gradient(40deg, rgb(22, 22, 22) 24.16%, rgba(6, 10, 23, 0) 56.61%), linear-gradient(0deg, rgb(22, 22, 22) 3.91%, rgba(6, 10, 23, 0) 69.26%), url("../img/sintonia.jpg");
    background-attachment:scroll;
    background-position: center;
    background-size:cover;
    object-fit: cover;
    box-sizing: border-box;
    position: relative;
    border: 0.0625rem solid rgb(22, 22, 22);
    border-radius: 0.5rem;
}

.titulo-banner{
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0px;
}
.titulo-banner img{
    padding-left: 2.5rem;
    width: 40%;
}
.content-modal{
    /* background-color: rgb(22, 22, 22); */
    padding-top: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.content-modal .info-banner{
    display: flex;
    list-style: none;
    gap: 10px;
}
.content-modal .info-banner .info{
    background-color: rgb(65, 65, 65);
    color: rgba(255, 255, 255, 0.7);
    padding: 0.40rem 0.50rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
}
.description{
    padding-top: 2rem;
}
.description span{
    font-size: 1rem;
    font-weight: 400;
    color: white;
}
.btn-banner{
    width: 100%;
    padding-top: 2rem;
    font-size: 1.125rem;
}
.vamosla-banner{
    display: flex;
    padding: 0.80rem 0.90rem;
    background-color: rgb(229, 9, 20);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.vamosla:hover{
    background-color: rgb(185, 1, 1);
}
.icon-btn{
    padding-left: 10px;
}





/* Motivos */
.propriedades{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}
.container-motivos{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
/* home section */
.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    /* background-color: aqua; */
    padding-top: 18px;
}
.home h2{
    text-align: justify;
    font-size: 1.6rem;
    font-weight:100;
    margin-bottom:20px;
}
.home .sample-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.1em;
    row-gap: 1.1em;
}
@media (max-width: 1700px) {
    .home .sample-cards {
        grid-template-columns: repeat(4, 1fr); 
    }
}
@media (max-width: 1400px) {
    .home .sample-cards {
        grid-template-columns: repeat(2, 1fr); 
    }
}
@media (max-width: 1000px) {
    .home .sample-cards {
        grid-template-columns: 1fr; 
    }
}
.card-motivos{
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    height: auto;
    max-height: 300px;
    width: 100%;
    border-radius: 1rem;
    font-size: 1.1em;
    font-weight: 300;
    overflow: hidden;
    position: relative;
}
.motivos2, .figura{
    width: 100%;
}
.motivos{
    width: 100%;
    height: 100%;
}
.motivos2{
    /* background-color: #151a3f; */
    width: auto;
    height: 50%;
    padding: 1.5rem 1rem;
}
.motivos2 p{
    font-size: 1rem;
    padding: 20px 0px;
    color: rgba(255, 255, 255, 0.7);
}
.motivos2 h3{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.figura{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    position: relative;
    bottom: 3%;
    right: 2%;
    margin-bottom: 1rem;
}
.figura svg{
    padding: 5px  5px;
}
@media (max-width: 1160px) {
    .figura{
        position: relative;
        bottom: 0%;
        right: 2%;

    }
}
@media (max-width: 1000px) {
    .figura{
        position: relative;
        bottom: 6%;
        right: 2%;
        margin-bottom: 1rem;
    }
}

/* PERGUNTAS FREQUENTES */
.dashboard_5{
    width: 100%;
    height: auto;
    color: white;
    /* background-color: blue; */
    padding-top: 50px;
}
.title_ques h2{
    font-size: 1.6rem;
    font-family: sans-serif;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    font-weight: 100;
}

.questions{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.elements{
    display:flex;
    flex-direction: column;
} 
.elements button{
   margin-bottom: 5px;
}
.elements .button{
    background-color: rgb(36, 33, 33);
    width: 100%;
    padding: 30px 10px;
    border: none;
    border-bottom: 1px solid black;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
#questions_button{
    font-size: 20px;
    color: white;
    font-size: 25px;
    margin-left: 30px;
}
.answer, .answer2, .answer3, .answer4, .answer5, .answer6 {
    max-height: 0; 
    opacity: 1; 
    overflow: hidden; 
    transition: max-height 0.5s ease, opacity 0.5s ease; 
    background-color: rgb(36, 33, 33);
    color: rgb(255, 255, 255);
    font-family: Verdana;
    font-size: 24px;
    margin-top: -5px;
    margin-bottom: 10px;
    width: 100%;
}
/* Classe ativa para mostrar o contêiner */
.answer.active, .answer2.active, .answer3.active, .answer4.active, .answer5.active, .answer6.active {
    max-height: 500px; 
    opacity: 1; 
}
.answer_panel{
    padding: 30px;
}
.more{
    color: white;
    margin-right: 30px;
}
.icon {
    transition: ease-in-out; 
}
.icon.rotate {
    transform: rotate(45deg); 
}


/* Assinar no final */
.assinar-final{
    padding-top: 50px;
}
.container-final{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
    align-items: center;
}
.container-final #assinar-fi{
    color: white;
    font-family: Verdana;
    font-size: 0.9rem;
    text-align: center;
}
#email2{
    width: 100%;
}


/* footer */
#footer{
    color: rgba(255, 255, 255, 0.7);
    padding-top: 50px;
    font-family: sans-serif;
}
#footer .duvidas{
    padding-bottom: 2.5rem;
    font-size: 1rem;
}
.duvidas span a{
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-weight: 400;
}
.topicos{
    height: auto;
    padding-bottom: 2.5rem;
}
.topicos ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}
@media(max-width: 850px){
    .topicos ul{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
}
.topicos ul li{
    list-style: none;
    text-decoration: solid;
    text-decoration-color: rgba(255, 255, 255, 0.7)
}
.container-top li a{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    text-decoration-color: rgba(255, 255, 255, 0.7)
}
#language-footer{
    padding-bottom: 2.5rem;
}
#language-footer select{
    width: 8.5rem;
    height: 1.8rem;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    font-size: 1rem;
    border-radius: 5px;
}
.netflix{
    font-size: 1rem;
}
